$white: #ffffff;
$blue: #0079c1;
$lightblue: #49b0f2;
$darkblue: #394eee;
$darkgrey: rgba(50, 50, 50, 0.95);
$font: #4c4c4c;
$lightgrey: #f4f4f4;
$grey: #aaaaaa;
$dark: #1a1a1a;

body{
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
}

section{
  padding: 100px 0;
  max-width: 100%;
}

strong{
  font-weight: 500 !important;
}

h1{
  color: $darkgrey;
  font-size: 75px;
  line-height: 90px;
  font-weight: 100;
}

h2{
  text-align: left;
}

.subnav-title{
  padding: 0;
}


h3{
  text-align: left;
}

p, ul, li{
  margin: 16px 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $darkgrey;
}

li{
  margin-top: 0;
  margin-bottom: 5px;
}

strong{
  font-weight: 400;
  margin: 0;
  margin-bottom: 16px;
}

a{
  text-decoration: none;
  color: $blue;
}

ul{
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.primary-button{
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  border-radius: 0;
  border: none;
  background-color: $white;
  color: $blue;
  border: 1px solid $blue;
  font-size: 16px;
  transition: 0.1s ease;
}

  .primary-button:hover{
    box-shadow: 0px 0px 0px 1px $blue inset
  }

.button{
  padding: 15px 30px;
  border-radius: 0;
  border: none;
  color: $darkgrey;
  background: $white;
  font-size: 16px;
}

.button:hover{
  border-radius: 0;
  border: none;
  color: $darkgrey;
  background: $lightgrey;
  font-size: 16px;
}

nav{
  height:55px;
  margin: 0 auto;
  width: 1440px;
  max-width: calc(100% - 40px);
  padding: 0 20px;
  justify-content: space-between;
  border-bottom: 2px solid $white;
}

    .logo{
      padding-left: 8px;
      padding-right: 32px;
      padding-top: 4px;
      opacity: 0.8;
    }
    .logo:hover{
      opacity: 1;
      cursor: pointer;
    }

    .nav-link{
      color: #595959;
      opacity: 0.8;
      box-shadow: #394eee 0 0 0 0 inset;
      box-sizing: border-box;
      padding: 0 20px;
    }

    .nav-link:hover{
      color: #222;
      opacity: 1;
      box-shadow: $blue 0 -3px 0 0 inset;
    }


.subnav{
  top: -1px;
  position: sticky;
  height: 59px;
  border-bottom: 1px solid $darkgrey;
  z-index: 100;
}

    .subnav-title-link{
      color: $white;
      padding: 0 20px 0 8px;
    }

    .subnav-title-link:hover{
      color: $darkblue;
    }

    .subnav-title{
      font-size: 20px;
      font-weight: 400;
    }

    .subnav-wrapper{
      margin: 0 auto;
      width: 1440px;
      max-width: 96vw;
      padding: 0 20px;
      align-content: space-between;
      justify-content: space-between;
      height: 100%;
    }

    .subnav-left{
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;

        svg{
          min-width: 49px;
          visibility: hidden;
          cursor: pointer;
        }
    }

    .subnav-link{
      padding: 0 20px;
      box-shadow: $darkblue 0 0 0 0 inset;
      box-sizing: border-box;
    }

    .subnav-link p{
      font-size: 16px;
    }

    .subnav-link:hover{
      box-shadow: $darkblue 0 -3px 0 0 inset;
    }

    .active{
      background-color: #222222;
      box-shadow: $darkblue 0 -3px 0 0 inset;
    }

.callout{
  background-color: #6A0BE6;
  color: #ffffff;
  font-size: 16px;
  padding: 0 2vw;
}

  .callout p{
    font-size: 16px;
    text-align: center;
    margin: 0 20px;
    padding: 14px 0;
    line-height: 21px;
  }

  .callout a{
    padding-left: 5px;
    text-decoration: underline;
    color: #ffffff;
  }

.flex{
  display: flex;
}


.left-column{
  width: 50%;
  height: 100%;
  padding: 0 20px;
}

.half {
    justify-content: flex-start;
    width: 50%;
    padding: 0 20px;
}

.third {
    flex-direction: column;
    display: flex;
    justify-content: flex;
    width: 33%;
    padding-right: 20px;
    padding-left: 20px;
}

.two-third {
    flex-direction: column;
    display: flex;
    justify-content: flex;
    width: 66%;
    padding-right: 20px;
    padding-left: 20px;
}

.fourth {
    border: 1px solid #777777;
    flex-direction: column;
    display: flex;
    justify-content: flex;
    width: 25%;
    padding: 20px;
    margin: 10px;
}

.reverse {
    flex-direction: row-reverse;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.horizontal {
    display: flex;
}

.start{
  align-items: start;
}

.center{
  align-items: center;
}

.flex-grow{
  flex-grow: 1;
}

.just-centered{
  justify-content: center;
}

.spaced{
  justify-content: space-between;
}

.stretched{
  align-items: stretch;
}

.intro-section{
  padding: 32px 0;
  background-color: $darkblue;
  color: $white;
}

  .intro-section p{
    margin: 0 ;
    font-size: 20px;
    line-height: 28px;
  }

.two-columns{
  margin: 0;
  column-count: 2;
  column-gap: 40px;
  column-fill: auto;
  text-align: justify;
  padding: 0 20px;

  p{
    margin-top:0px;
  }
}

.logo-title{
  display: flex;
}

.image-shadow {
    width: 100%;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.3);
}

.hero{
  min-height: 55vh;
  background: $white;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;

/*  background: $darkblue;
  background: linear-gradient(90deg, rgba(0,121,193,1) 0%, rgba(57,78,238,1) 100%);
*/
}

    .hero-text{
      color: $darkgrey;
      margin: 0;
    }

    .divider{
      height: 3px;
      width: 50px;
      background-color: $darkblue;
      margin: 10px 0 10px 0;
    }

    .hero p{
      font-size: 20px;
    }


.content{
  width: 1440px;
  max-width: 96vw;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.doc-content {
  width: 1024px;
  max-width: 96vw;
  margin: 0 auto;
  padding: 20px 20px;
  height: 100%;
}

.doc-content h1 {
  font-size: 50px;
  font-weight: 250;
}

.doc-content h2 {
  font-size: 40px;
  font-weight: 250;
}

.gallery{
  margin-bottom: 40px;
}

.lightgrey{
  background-color: $lightgrey;
}

.list-link{
  margin-bottom: 10px;
}

.darkgrey{
  background-color: $darkgrey;
}

.dark{
  background-color: $dark;
}

.small-teaser{
  margin: 0 40px 60px 40px;
}

.inline-icon {
    margin: 0 20px 20px 0;
    max-width: 80px;
}

.small-icon {
    margin-bottom: 20px;
    max-width: 80px;
}

.subtitle {
    color: $darkgrey;
    font-size: 48px;
    font-weight: 400;
    margin: 0px;
    line-height: 54px;
    text-align: left;
}

.subtitle2 {
    color: $darkgrey;
    font-size: 32px;
    font-weight: 300;
    padding: 0px;
    margin-top: 3px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.subtitle3 {
    color: #858585;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-weight: 400;
}

.subtitle4{
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.link {
    color: $blue;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.text-small {
    font-size: 14px;
    margin-top: 2px;
}

.top-padding-150{
  padding-top: 150px;
}

.bottom-margin-10{
  margin-bottom: 10px;
}

.bottom-margin-30{
  margin-bottom: 30px;
}

.bottom-margin-40{
  margin-bottom: 40px;
}

.bottom-margin-70{
  margin-bottom: 70px;
}

.bottom-margin-100{
  margin-bottom: 100px;
}

.white{
  color: $white;
}

.grey{
  color: $grey;
}

.lightblue{
  color: $lightblue;
}

.icon-ui-svg{
  max-height: 64px;
  max-width: 64px;
  fill: $blue;
  margin-bottom: 20px;
}

.ui-svg{
  max-height: 64px;
  max-width: 64px;
  margin-bottom: 20px;
  fill: none;
  path{
    stroke: $blue;
    stroke-width: 1;
  }
}



.download{
  margin: 0 80px;
}
    .download p{
      margin: 3px 0;
    }

    .file{
      height: 80px;
      min-width: 60px;
      margin-bottom: 5px;
      background-image: url(../img/file.png);
      background-size: contain;
      background-repeat: no-repeat;
    }

    .file p{
      margin: 0;
      padding-top: 3px;
      text-transform: uppercase;
    }

.footer{
  padding: 0;
}

.video-container{
  padding-bottom:56.25%;
  height:0;
  position:relative;
  padding-top:30px;
  overflow:hidden;
  box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.3);
}

.video-container iframe{
  position:absolute;
	left:0;
  top:0;
	width:100%;
	height:100%;
 }

@media only screen and (max-width: 1023px) {

  h1, h3{
    font-size: 60px;
    line-height: 70px;
  }

  .horizontal:not(nav){
    flex-direction: column;
  }

  .subnav{
    background-color: $darkgrey;
    height: 100%;
  }

  .subnav-wrapper{
    padding: 0;
  }

  .subnav-left svg{
    visibility: visible;
  }

  .subnav-link-wrapper{
    display: none;
  }

  .menu-opened{
    display: block;
  }

  .subnav-link{
    align-items: start;
  }

  .subnav-link:hover{
    box-shadow: none;
  }

  .content{
    padding: 0;
  }

  .image-shadow{
    width: 100%;
    margin-bottom: 20px;
  }

  .video-container{
    width: calc(100% - 40px);
    margin-bottom: 20px;
  }



  .left-column{
    width: 100%;
    height: 100%;
    padding-left: 8px;
    padding-right: 20px;
  }

  .half {
      justify-content: flex-start;
      width: calc(100% - 40px);
      padding: 0 20px;
  }

  .third {
      width: calc(100% - 40px);
  }

  .two-third {
      width: 100%;
  }

  .fourth {
      width: calc(100% - 60px);
  }

  .reverse {
      flex-direction: row;
  }

  .two-columns{
    column-count: 1;
  }

  .third{
    margin-bottom: 100px;
  }

  .example{
    flex-direction: column-reverse;
  }
}
